@import 'reset';

:root {
    --primary-color: #42b983;
}

*{
  box-sizing: border-box;
  text-size-adjust:none;
}

html {
  height: 100%;
}

body{
	font-family: 'Inconsolata', monospace;
	background-color: #111;
	color:#fff;
	font-size: 12px;
	line-height: 1.4em;
  overflow: hidden;
  outline: none;
}
body.loading{
	opacity: .5;
	cursor:wait;

	main, aside{
		pointer-events:none;
	}
}

aside{
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100vh;
	width: 200px;
	border-right:1px solid #333;
}

#root{
	// padding: 20px 20px 20px 220px;
	min-height:100vh;
}

.page-url,
.image-url{
	color:#fff;
}

.image-size.bad{
	background-color: #ff9a9a;
	color:#333;
}

td{
	padding: 5px;
	max-width: calc(100vw - 240px);
	word-break: break-all;
	min-width: 150px;
	a{
		color:#fff;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}

.menu{
	padding: 10px;
	border-bottom: 1px solid #333;
}

.menu a{
	display: inline-block;
	width: 100%;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	background-color: #222;
	color:#fff;
	text-decoration: none;
	margin-bottom: 10px;

	&:hover{
		background-color: #333
	}
}

.sectionEditor {
  width: 100%;
}

#sectionGrid {
  margin: 2vw;
  width: 100%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(8, 75px);
}

.sectionCell {
  background-color: #1F1F1F;
  color: #fff;
  border: 2px dotted #EC0396;
  border-radius: 4px;
  padding: 0px;
  width: 75px;
  height: 50px;

  .sectionLabel {
    
  }

  &.sectionSelected {
    border-width: 4px;
    border-top-right-radius: 0px;
    border-color: #00C7FF;
  }

  &.sectionExists {
    background-color: #1D1D1D;
    border-style: solid;
  }
}

#sequenceSlotGrid {
  margin: 2vw;
  width: 100%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(8, 75px);
}

.addSequenceButton {
  color: #00C7FF;
  width: 75px;
  height: 50px;
  border: 2px solid #EC0396;
  border-radius: 2px;
  background-color: #2F2F2F;
  outline: none;
}

.incrementableSequenceSlot {
  padding: 0px;
  width: 75px;
  height: 50px;
  border: 2px solid #EC0396;
  border-radius: 2px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;

  .sequenceLabel {
    flex-grow: 1;
  }

  .sequenceEditButtons {
    display: flex;
    justify-content: flex-end;

    button {
      color: #00C7FF;
      background-color: #2F2F2F;
      font-weight: 200;
      width:20px;
      border: 1px solid #EC0396;
      border-bottom: 0px;
      margin-bottom: 0px;

      &.incUp {

      }

      &.incDown {

      }

      &.deleteSequence {

      }
    }
  }
}
